@import "src/styles/styles"

.container
  display: flex
  flex-direction: column
  padding: 30px 20px 10px 20px

.contestTypeAndIdContainer
  width: 100%
  display: flex
  justify-content: flex-start
  align-items: center
  text-transform: capitalize

  span:first-child
    color: $accent-color-1
    font-size: 18px
    font-weight: 500
    margin-right: 20px

  span:last-child
    color: #6e7072
    font-size: 14px

.offerContent
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 10px 0
  font-size: 14px
  color: #4e618d

  img
    width: auto
    height: 100px
    cursor: pointer
