.idea
**/node_modules
./client/node_modules
./server/node_modules
./server/src/logs
./server/uploadFiles
./server/upload
./server/public
./public
**/logs
./server/public/images
.server/public/images
**server/public/*
*server/public/*
/server/src/logs/
/var/
