@import "src/styles/styles"

.page
  min-height: 100vh
  display: flex
  flex-direction: column

.contentContainerWrapper
  align-self: center
  padding: 50px 20px
  width: 100%
  flex: 1
  display: flex

  @media(max-width: $header-breakpoint)
    padding-top: 100px

.contentContainer
  margin: 0 auto
  width: inherit
  max-width: 1170px
  display: flex

  @media screen and (max-width: 850px)
    flex-direction: column
    .timersList
      margin-left: unset

.timersList
  margin-left: 50px
  display: flex
  flex-direction: column
  align-items: stretch
  flex-grow: 1
  padding: 30px 0
